
@using ASP_PROFTAAK.Models
@model BijdragePosterViewModel
<link rel="stylesheet" type="text/css" href="~/Content/comment.css">
@{
    ViewBag.Title = "Index";
}
<h2>Posts</h2>
@*<button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>*@
<a class="btn btn-default" href="@Url.Action("AddCategorie")"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Categorie</a>
<a class="btn btn-default" href="@Url.Action("AddBericht")"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Bericht</a>
<a class="btn btn-default" href="@Url.Action("AddBestand")"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Bestand</a>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Ajax.js"></script>
<script type="text/javascript">


    $(function () {
        $('.panel-google-plus > .panel-footer > .input-placeholder, .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > button[type="reset"]').on('click', function (event) {
            var $panel = $(this).closest('.panel-google-plus');
            $comment = $panel.find('.panel-google-plus-comment');

            $comment.find('.btn:first-child').addClass('disabled');
            $comment.find('textarea').val('');

            $panel.toggleClass('panel-google-plus-show-comment');

            if ($panel.hasClass('panel-google-plus-show-comment')) {
                $comment.find('textarea').focus();
            }
        });
        $('.panel-google-plus-comment > .panel-google-plus-textarea > textarea').on('keyup', function (event) {
            var $comment = $(this).closest('.panel-google-plus-comment');

            $comment.find('button[type="submit"]').addClass('disabled');
            if ($(this).val().length >= 1) {
                $comment.find('button[type="submit"]').removeClass('disabled');
            }
        });
       });
</script>
@* <script src="~/Scripts/jquery-1.10.2.js"></script>*@


@foreach (var item in Model.Bedrijges)
{

    if (item is Categorie)
    {

        Categorie b = (Categorie)item;

        <div class="col-md-8 col-md-offset-4">
            <div class="panel panel-default panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        @if ((int?)Session["UserID"] == 1)
                        {
                            <li role="presentation"><a href="@Url.Action("VerwijderBijdrage", "Bijdrage" , new {id = b.Id}, null)" role="menuitem" tabindex="-1">Verwijder Bijdrage</a></li>
                        }
                        @if ((int?)Session["UserID"] == b.Account1.Id)
                        {
                            <li role="presentation"><a href="@Url.Action("VerwijderBijdrage", "Bijdrage" , new {id = b.Id}, null)" role="menuitem" tabindex="-1">Verwijder Bijdrage</a></li>
                        }
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Extra</a></li>
                       </ul>
                </div>
                <div class="panel-heading">
                    <img class="img-circle pull-left" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="Mouse0270" />
                    <h3>Harry1234</h3>
                    <h5><span>Shared publicly</span> - <span>@item.Datum</span> </h5>
                </div>
                <div class="panel-body">
                    <p>@b.Naam</p>
                </div>

                <div class="panel-footer">
                    <a href="@Url.Action("Like", "Bijdrage", new { AccountID = Convert.ToInt32(Session["UserId"]), BijdrageID = b.Id }, null)" class="btn btn-default">Like
                    @try
                    {
                        if (Model.Likes.Find(x => x.bijdrage_id == b.Id).bestaat)
                         {@Model.Likes.Find(x => x.bijdrage_id == b.Id).likes}
                    }
                    catch { }
                    </a>
                    <a href="@Url.Action("Report", "Bijdrage", new { AccountID = Convert.ToInt32(Session["UserId"]), BijdrageID = b.Id }, null)" class="btn btn-default">Report</a>
                    <button type="button" class="[ btn btn-default ]">
                        <span class="[ glyphicon glyphicon-share-alt ]"></span>
                    </button>
                    <div class="input-placeholder">Add a comment...</div>
                    </div>

                <div class="panel-google-plus-comment">
                    <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="@Convert.ToString(Session["UserName"])" />
                    <div class="panel-google-plus-textarea">
                        @using (Html.BeginForm("AddReactie", "Bijdrage"))
                        {
                            <input class="form-control"
                                   id="postid"
                                   name="postid"
                                   style="display: none;"
                                   type="text"
                                   value=@b.Id />
                                @*<textarea cols="1" name="postid" id="@b.Id" style="display: none;">@b.Id</textarea>*@
                                <textarea rows="4" name="Tekst"></textarea>
                                <button type="submit" class="btn btn-success ">Post comment</button>
                        }
                        <button type="reset" class="btn btn-default">Cancel</button>

                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-footer">
                    <button class="btn btn-default ShowCommentsById" data-item="@item.Id">
                        <span class="[ glyphicon glyphicon glyphicon-comment ]"></span>
                        Load Comments
                    </button>
                    <div style="display: none;" id="loadingcomments-@item.Id">
                    </div>
                    <div class="showComments-@item.Id" data-comment="@item.Id">
                        <div class="showComments-@item.Id"></div>
                    </div>
                </div>
            </div>
        </div>



    }

    if (item is Bestand)
    {
        Bestand b = (Bestand)item;
        <div class="col-md-8 col-md-offset-4">
            <div class="panel panel-default panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        @if ((int?)Session["UserID"] == 1)
                        {
                            <li role="presentation"><a href="@Url.Action("VerwijderBijdrage", "Bijdrage" , new {id = b.Id}, null)" role="menuitem" tabindex="-1">Verwijder Bijdrage</a></li>
                        }
                        @if ((int?)Session["UserID"] == b.Account1.Id)
                        {
                            <li role="presentation"><a href="@Url.Action("VerwijderBijdrage", "Bijdrage" , new {id = b.Id}, null)" role="menuitem" tabindex="-1">Verwijder Bijdrage</a></li>
                        }
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Extra</a></li>
                        </ul>
                </div>
                <div class="panel-google-plus-tags">
                    <ul>
                        <li>#Millennials</li>
                        <li>#Generation</li>
                    </ul>
                </div>
                <div class="panel-heading">
                    <img class="img-circle pull-left" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="Mouse0270" />
                    <h3>@item.Account1.Gebruikersnaam</h3>
                    <h5><span>Shared publicly</span> - <span>@item.Datum</span> </h5>
                </div>
                <div class="panel-body">
                    @if (b.Bestandlocatie.Contains("youtube"))
                    {
                    var ytbestand = b.Bestandlocatie.Replace("watch?v=", "embed/");
                    <iframe width="400" height="400" src="@ytbestand">
                    </iframe>
                    }
                    else if (b.Bestandlocatie.Contains("http"))
                    {
                        <img src="@Url.Content(b.Bestandlocatie)" height="400px" width="400px"/>
                    }
                    else
                    {
                        <a href="@b.Bestandlocatie">@b.Bestandlocatie</a>
                    }
                </div>
                <div class="panel-footer">
                    <a href="@Url.Action("Like", "Bijdrage", new { AccountID = Convert.ToInt32(Session["UserId"]), BijdrageID = b.Id }, null)" class="btn btn-default">Like
                        @try
                        {
                            if (Model.Likes.Find(x => x.bijdrage_id == b.Id).bestaat)
                            {@Model.Likes.Find(x => x.bijdrage_id == b.Id).likes}
                        }
                        catch { }
                    </a>                  
                    <a href="@Url.Action("Report", "Bijdrage", new { AccountID = Convert.ToInt32(Session["UserId"]), BijdrageID = b.Id }, null)" class="btn btn-default">Report</a>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </button>
                    <div class="input-placeholder">Add a comment...</div>
                    </div>

                <div class="panel-google-plus-comment">
                    <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                    <div class="panel-google-plus-textarea">
                        @using (Html.BeginForm("AddReactie", "Bijdrage"))
                        {
                            <input class="form-control"
                                   id="postid"
                                   name="postid"
                                   style="display: none;"
                                   type="text"
                                   value=@b.Id />
                                @*<textarea cols="1" name="postid" id="@b.Id" style="display: none;">@b.Id</textarea>*@
                                <textarea rows="4" name="Tekst"></textarea>
                                <button type="submit" class="btn btn-success ">Post comment</button>
                        }
                        <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-footer">
                    <button class="btn btn-default ShowCommentsById" data-item="@item.Id">
                        <span class="[ glyphicon glyphicon glyphicon-comment ]"></span>
                        Load Comments
                    </button>
                    <div style="display: none;" id="loadingcomments-@item.Id">
                    </div>
                    <div class="showComments-@item.Id" data-comment="@item.Id">
                        <div class="showComments-@item.Id"></div>
                    </div>
                </div>
            </div>
        </div>
    }

    if (item is Bericht)
    {
        Bericht b = (Bericht)item;
        <div class="col-md-8 col-md-offset-4">
            <div class="panel panel-default panel-google-plus">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        @if ((int?)Session["UserID"] == 1)
                        {
                            <li role="presentation"><a href="@Url.Action("VerwijderBijdrage", "Bijdrage" , new {id = b.Id}, null)" role="menuitem" tabindex="-1">Verwijder Bijdrage</a></li>
                        }
                        @if((int?)Session["UserID"] == b.Account1.Id)
                        {
                            <li role="presentation"><a href="@Url.Action("VerwijderBijdrage", "Bijdrage" , new {id = b.Id}, null)" role="menuitem" tabindex="-1">Verwijder Bijdrage</a></li>
                        }
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Extra</a></li>
                        </ul>
                </div>
                <div class="panel-google-plus-tags">
                    <ul>
                        <li>#Millennials</li>
                        <li>#Generation</li>
                    </ul>
                </div>
                <div class="panel-heading">
                    <img class="img-circle pull-left" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="Mouse0270" />
                    <h3>@item.Account1.Gebruikersnaam</h3>
                    <h5><span>Shared publicly</span> - <span>@item.Datum</span> </h5>
                </div>
                <div class="panel-body">
                    <p>@b.Inhoud</p>
                </div>
                <div class="panel-footer">
                    <!--    <button type="button" class="btn btn-default"></button>-->
                    <a href="@Url.Action("Like", "Bijdrage", new { AccountID = Convert.ToInt32(Session["UserId"]), BijdrageID = b.Id }, null)" class="btn btn-default">Like
                        @try
                        {
                            if (Model.Likes.Find(x => x.bijdrage_id == b.Id).bestaat)
                            {@Model.Likes.Find(x => x.bijdrage_id == b.Id).likes}
                        }
                        catch { }
                    </a>
                    <a href="@Url.Action("Report", "Bijdrage", new { AccountID = Convert.ToInt32(Session["UserId"]), BijdrageID = b.Id }, null)" class="btn btn-default">Report</a>
                    <button type="button" class="btn btn-default">
                        <span class="[ glyphicon glyphicon-share-alt ]"></span>
                    </button>
                    <div class="input-placeholder">Add a comment...</div>
                    
                </div>

                <div class="panel-google-plus-comment">
                    <img class="img-circle" src="https://lh3.googleusercontent.com/uFp_tsTJboUY7kue5XAsGA=s46" alt="User Image" />
                    <div class="panel-google-plus-textarea">
                        @using (Html.BeginForm("AddReactie", "Bijdrage"))
                        {
                            <input class="form-control"
                                   id="postid"
                                   name="postid"
                                   style="display: none;"
                                   type="text"
                                   value=@b.Id />
                                @*<textarea cols="1" name="postid" id="@b.Id" style="display: none;">@b.Id</textarea>*@
                                <textarea rows="4" name="Tekst"></textarea>
                                <button type="submit" class="btn btn-success ">Post comment</button>
                        }
                        <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="panel-footer">
                    <button class="btn btn-default ShowCommentsById" data-item="@item.Id">
                        <span class="[ glyphicon glyphicon glyphicon-comment ]"></span>
                        Load Comments
                    </button>
                    <div style="display: none;" id="loadingcomments-@item.Id">
                    </div>
                    <div class="showComments-@item.Id" data-comment="@item.Id">
                        <div class="showComments-@item.Id"></div>
                    </div>
                </div>
            </div>
        </div>
    }
}

@using (Html.BeginForm("AddBijdrage", "Bijdrage", FormMethod.Post))
{
    <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Uploaden</h3>
                </div>

                <ul class="nav nav-tabs" id="tabContent">
                    <li class="active"><a href="#categorie" data-toggle="tab" value="1">Categorie</a></li>
                    <li><a href="#bestand" data-toggle="tab" value="2">Bestand</a></li>
                    <li><a href="#bericht" data-toggle="tab" value="3">Bericht</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="categorie">
                        <form>
                            <hr />

                            <div class="form-group">
                                <input type="text" name="catNaam" id="catNaam" placeholder="Categorie" />
                            </div>
                            <label>Subgenre:</label>
                            <select>
                                <option>Geen</option>
                                @foreach (var item1 in Model.Categories)
                                {
                                    <option name="categorieid" value="@item1.CategorieId">@item1.Naam</option>
                                }
                            </select>
                            <input type="submit" name="soort" class="btn btn-lg btn-default btn-block" value="categorie" />
                            @Html.ActionLink("AddBijdrage", "AddBijdrage", "Bijdrage")
                        </form>
                    </div>

                    <div class="tab-pane" id="bestand">
                        <form>
                            <hr />
                            <select>
                                @foreach (var item1 in Model.Categories)
                                {
                                    <option name="categorieid" value="@item1.CategorieId">@item1.Naam</option>
                                }
                            </select>
                            <label>Plaats BestandLink (bv. Youtube-Link, GoogleImage-Link)</label>
                            <div class="form-group">

                                <input type="text" name="bestandslocatie" id="bestandslocatie" />
                                @*<input type="file" name="Bestand" id="Bestand"/>*@
                            </div>
                            <input type="submit" name="soort" class="btn btn-lg btn-default btn-block" value="bestand" />
                            @Html.ActionLink("AddBijdrage", "AddBijdrage", "Bijdrage")
                        </form>
                    </div>

                    <div class="tab-pane" id="bericht">
                        <form>
                            <hr />
                            <div class="form-group">
                                <input type="text" name="Titel" id="Titel" placeholder="Titel" />
                            </div>
                            <div class="form-group">
                                <textarea cols="80" rows="5" type="text" id="Inhoud" name="Inhoud" placeholder="Inhoud"></textarea>
                            </div>
                            <input type="submit" name="soort" class="btn btn-lg btn-default btn-block postLink" value="bericht" />
                            @Html.ActionLink("AddBijdrage", "AddBijdrage", "Bijdrage")
                        </form>
                    </div>
                </div>



                <div class="modal-footer">
                    <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" data-dismiss="modal" role="button">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



}








