@model IEnumerable<ASP_PROFTAAK.Models.Verhuurd>

@{
    ViewBag.Title = "MijnProductExemplaren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MijnProductExemplaren</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.ProductExemplaarId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroepsLidId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumIn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumUit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Betaald)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductExemplaarId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroepsLidId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumIn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumUit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prijs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Betaald)
        </td>
        <td>
            @Html.ActionLink("Betaal", "Betaal", new {id = item.Id}) |
            @Html.ActionLink("Breng terug", "Return", new {id = item.Id})
        </td>
    </tr>
}

</table>
