@model IEnumerable<ASP_PROFTAAK.Models.ProductExemplaar>

@{
    ViewBag.Title = "ProductExemplaren";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ProductExemplaren</h2>


@if (ViewBag.ErrorMessage != null)
{

<p class="alert alert-warning"><strong>@ViewBag.ErrorMessage</strong>
</p>



}

@if (ViewBag.ErrorMessage == null)
{
    


using (Html.BeginForm("HuurProducten", "Product", FormMethod.Post))
{
    <div class="reserveringen">
        <div class="col-md-offset-2 col-md-10">
            @Html.DropDownList("reserveringen", null, "select reserveringsID", new {@class = "dropdown"})
        </div>
    </div>

    if (Convert.ToInt32(Session["UserId"]) >= 1)
    {
        <p>
            @Html.ActionLink("Create New ProductExamplaar", "Create", "ProductExemplaar")
        </p>
    }

<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Merk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatSubNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prijs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verhuurd)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Merk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatSubNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prijs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verhuurd)
            </td>
            <td>
                <input type="checkbox" class="chkCheckBoxId" value="@item.Id" name="productExemplaarId"/>
            </td>



        </tr>
    }

</table>

    if (Convert.ToInt32(Session["UserId"]) >= 1) //nog aanpassen
    {

        <tr>
            <td>
                <input type="submit" value="Huren" onclick="return confirm('Huren?')" class="btn btn-primary pull-right btn-block">
            </td>
        </tr>
    }
}
}