<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
@if (Session["email"] != null && Convert.ToInt32(Session["userid"])!= 1)
{
    @Html.Partial("_LoggedInNavBarForUser")
}

else
{
    if (Convert.ToInt32(Session["userid"]) == 1)
    {
        @Html.Partial("_LoggedInNavBarForAdmin")
    }
    else
    {
        @Html.Partial("_NavBar")
    }
   
}


<div class="container body-content">
    @RenderBody()
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Reeendal</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>
